.mainNav{
  width: 100%;
  height: 4.5rem;
  background-color: #ede9fe;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.mainNav section{
  display: flex;
  /* width: 10rem; */
  align-items: center;
}
.mainNav nav{
  display: flex;
  width: 100%;
  max-width: 1170px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
 

    
  }
  nav ul{
    display: flex;
    
  }
  nav li{
    margin: 0 1rem;
  }
  .mainNav a{
    display: block;
    padding: .5rem 1rem;
    border-radius: 5px;
  }
  .mainNav a:hover,.activeLink{
    color: #6d28d9;
    background-color: #fff;
    /* border-radius: 5px;
    padding: .5rem 1rem; */

  }
  .cartSection{
    position: relative;
    display: flex;
    align-items: center;
  }
  .cartCounter{
    color:#ede9fe;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #6d28d9;
    display: flex;
    justify-content: center;
    align-items: center;
    top:-9px;
    right: -9px;
    font-size:14px;
  }
  
