label{
    display: flex;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input + label{
    display: inline-flex;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 5px;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="password"],select{
    width: 400px;
    padding: 6px 12px;
    background-color: #fff;
    color: #444;
    border: 1px solid #ccc;
    border-radius: 5px;
  
  }

  input:focus{
    outline: none;
    border: 2px solid #6d28d9;
  }
  
  .formControl{
   margin-bottom: 20px;
  }
  
  button{
    padding: 5px 15px;
  }
  .error{
    color: red;
    margin: 0;
    font-size: 14px;
  }