*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

button:disabled{
  background-color: #ccc;
  color: #444;
  cursor: not-allowed;
}
.App {
  text-align: center;
/* display: flex;
flex-direction: column;
justify-content: center;
align-items: center; */

}

body{
  background-color: #f6f6f6;
}
.productList{
  margin-top: 50px;
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  max-width: 1170px;
  width: 90vw;
  border-radius: 5px;

}
.product{
  /* background-color: rgb(163, 163, 237); */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
 
 
}
.productDetail{
  display: flex;
  justify-content:space-between;
  padding: 10px;
}
img{
  width: 100%;
  height: 250px;
  border-radius:5px;
 
 
}
.container{
  display: flex;
  justify-content: center;
}
.btn{
  border: none;
  outline: none;
  padding:10px 15px;
  border-radius: 5px;
  color: #6d28d9;
  background-color: #ede9fe;
  cursor: pointer;
 
} 
.primary{
  background-color:#6d28d9;
  color: #fff;
}

/* ............ cart page */
.cartItemList{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex:1;
  padding: 1rem;
}
.cartItem{
  display: flex;
 justify-content: space-between;
 align-items: center;
 border-bottom: solid 1px #ccc;

}

.cartItem .itemImg{
  width: 100px;
  height: 100px;

}
.cartItem .itemImg img{
  width: 100%;
  height:100%;
  padding:5px 0px;
  border-radius: 7px;
}
.cartCenter{
  display: flex;
  margin-top: 50px;
  width: 90vw;
  justify-content: center;
  
  max-width: 1170px;

}
.cartSummery{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 1rem;
  width: 30%;
  margin-left: 3rem;
}
.summeryItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

}

.cartSummery .net{
  border-top: solid 1px #ccc;
}
.btnGroup button{
  outline: none;
  color: #6d28d9;
  border: 1px solid #6d28d9;
  padding: 5px 10px;
  background-color: #fff;
 
  
}
.btnGroup button:first-child{
  border-radius: 5px 0 0 5px;
}
.btnGroup button:last-child{
  border-radius: 0px 5px 5px 0px;
}
.btnGroup button:nth-child(2){
  border-right: none;
  border-left: none;
}

.checkoutBtn{
  background-color: #6d28d9;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ede9fe;
  border: none;
  outline: none;
  margin-top: 20px;
  width: 100%;
}

.highlight{
  background-color: rgb(243, 90, 90);
}